<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Nouveau lieu
    </ion-title>
    <ion-buttons slot="end">
      <ion-button type='submit' color='primary' [disabled]='placeForm.invalid' (click)='validate()'>
        <ion-icon slot='icon-only' name='checkmark'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class='picture-container'>
    <img [src]='place.pictureUrl || defaultImageUrl'>
    <ion-buttons>
      <ion-button (click)='takePicture()'>
        <ion-icon slot='icon-only' name='camera'></ion-icon>
      </ion-button>
      <ion-button (click)='takeFile()'>
        <ion-icon slot='icon-only' name='photos'></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <ion-item>
    <ion-toggle [(ngModel)]="enableLocation" (ionChange)='getLocation()'></ion-toggle>
    <ion-label>Lier ma position gps</ion-label>
    <ion-spinner *ngIf='enableLocation && isLocationLoading' slot='end'></ion-spinner>
    <ion-icon *ngIf='enableLocation && !isLocationLoading && place.gps?.lat' slot='end' name='checkmark' color='success'></ion-icon>
    <ion-icon *ngIf='enableLocation && !isLocationLoading && !place.gps?.lat' slot='end' name='close' color='danger'></ion-icon>
  </ion-item>
  
  <form #placeForm='ngForm' (ngSubmit)='validate()'>
    <ion-list>
      <ion-item>
        <ion-label position='floating'>Titre</ion-label>
        <ion-input type='text' [(ngModel)]='place.title' name='title' #title='ngModel' required></ion-input>
        <ion-text *ngIf='title.touched && title.errors?.required' class='error' color='danger'>Le titre est obligatoire</ion-text>
      </ion-item>

      <ion-item>
        <ion-label position='floating'>Description</ion-label>
        <ion-textarea [(ngModel)]='place.description' name='description'></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position='floating'>Type</ion-label>
        <ion-select [(ngModel)]='place.type' interface='popover' name='type'>
          <ion-select-option *ngFor='let type of types' [value]='type'>{{ type }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    
  </form>

</ion-content>
